doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='css/main-reviews.css')    
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    link(rel='stylesheet' type='text/css' href='js/slick/slick.css')
    link(rel='stylesheet' type='text/css' href='js/slick/slick-theme.css')
  body
    include ./header-ll/header-pug.pug
    main.main-body.page-content        
        include ./top-filter-ll/top-filter-pug.pug
        include ./section-menu-ll/section-menu-pug.pug
        include ./left-sidebar-ll/left-sidebar-pug.pug
        include ./review-card-ll/review-card-pug.pug
        include ./left-column-ll/left-column-pug.pug