.left-column(style='background: transparent')
  .column-right-fixed
    div(style='opacity: 1')
      #prm-block-1.prm-block.prm-block-1(style='display: none')
      .sidenav.context-ads-v8
        a.small(target='blank' href='/advertising' style='float: right; color: #74716c') реклама
        .upad
          // 
        #ajax-side-block.ajax-side-block
          a(target='_blank' rel='nofollow' style='float: left' href='https://www.livelib.ru//goside/MTQ4NzQwNDE5NC0yMjIwLTE5MTY3OTgxMjg=/https://www.litres.ru/andrey-andreevich-andreev/moya-poeziya/' title='Моя поэзия')
            img(src='https://i.livelib.ru/contextpic/002220/90/39d5/Moya_poeziya.jpg' alt='Моя поэзия' title='Моя поэзия' width='90' style='min-width: 90px; background-color: #ffffff')
          .wordbreak(style='padding-left: 95px')
            .context-ads-text
              div
                a.title(target='_blank' rel='nofollow' href='https://www.livelib.ru//goside/MTQ4NzQwNDE5NC0yMjIwLTE5MTY3OTgxMjg=/https://www.litres.ru/andrey-andreevich-andreev/moya-poeziya/') Моя поэзия
              .text
                | Выдающийся русский поэт современности представляет сборник
                | избранных стихов о настоящей действительности, и не
                | только...
              span.link www.litres.ru
          .separator
            // 
        .separator
          // 
        #side-context-book
