section.lenta__content
  #book-reviews.lenta__list
    article.review-card.lenta__item(itemprop='review' itemscope='' itemtype='http://schema.org/Review')
      span.hidden(itemprop='author') Лион Фейхтвангер
      span.hidden(itemprop='itemReviewed' itemscope='' itemtype='https://schema.org/Book')
        span(itemprop='name') Безобразная герцогиня Маргарита Маульташ
        span(itemprop='author') Лион Фейхтвангер
        span(itemprop='author')
        span(itemprop='isbn') 978-5-17-054203-1
      .header-card
        a.header-card-user(href='/reader/renkelwork')
          img.header-card-user__avatar(data-pagespeed-no-defer='' width='100%' height='100%' src='https://i.livelib.ru/userpic/renkelwork/40x40/4361/renkelwork.jpg' alt='renkelwork')
        span.hidden(itemprop='publisher') renkelwork
        a.header-card-user__name(itemprop='author' href='/reader/renkelwork' title='renkelwork') renkelwork
        a.header-card__category(href='/reviews')
          | написал рецензию
        a.header-card__overlap(href='/compare/renkelwork')
          span.comparison(data-design='ll2019' data-user_login='renkelwork' data-user2_login='ecspetra' data-without_compare_back='true' title='Профили совпадают на 66%') 66%
        .header-card__menu
          .header-card__menu-block
            a#span-review-api-exclude-2259004.review-kick.kick-2259004(href='javascript:void(0)' onclick='return ll_exclude_review_from_api(2259004);' title='Запретить публикацию на интернет-магазинах') Не отдаем через api
            a#review-payed-2259004.review-kick.kick-2259004(href='javascript:void(0)' onclick='return set_review_adv(2259004, 1);' title='Отметить как рекламную рецензию') Это реклама
            a#review-has-spoiler-2259004.review-kick.kick-2259004(href='javascript:void(0)' onclick='return set_review_spoiler(2259004, 1);' title='Отметить рецензию как спойлерную') Спойлер
            a(href='javascript:void(0)' onclick="return ll_get_claim_form(event, 'review', 2259004);" title='Пожаловаться') Пожаловаться
            a#review-ban-2259004.review-kick.kick-2259004(href='javascript:void(0)' t='228a4ea8c4a84d34314a2e9f25daa992' onclick="if (confirm('Забанить рецензию?')) ll_ban('review', 2259004); return;" title='Бан') Бан
            a#review-unban-2259004.review-unkick.kick-2259004(style='display: none' href='javascript:void(0)' t='3f64195f07422f3c9ccff68a78863a38' onclick="return ll_unban('review', 2259004);" title='Снять бан') Снять бан
            a#span-review-kick-2259004.review-kick.kick-2259004(href='javascript:void(0)' onclick="return ll_kick('review', 2259004);" title='Перевести в неформат') Неформат
      .lenta-card
        .lenta-card-book
          img.lenta-card-book__bg(data-pagespeed-no-defer='' src='https://s1.livelib.ru/boocover/1000381445/200/a2d3/boocover.jpg' width='100%' height='auto' alt='Лион Фейхтвангер - Безобразная герцогиня Маргарита Маульташ')
          a.lenta-card-book__link(href='/book/1000381445-bezobraznaya-gertsoginya-margarita-maultash-lion-fejhtvanger')
            img.lenta-card-book__img(data-pagespeed-no-defer='' src='https://s1.livelib.ru/boocover/1000381445/200/a2d3/boocover.jpg' width='100%' height='100%' alt='Лион Фейхтвангер - Безобразная герцогиня Маргарита Маульташ')
          .lenta-card-book__wrapper
            a.lenta-card__book-title(href='/book/1000381445-bezobraznaya-gertsoginya-margarita-maultash-lion-fejhtvanger') Безобразная герцогиня Маргарита Маульташ
            p.lenta-card__author-wrap
              a.lenta-card__author(href='/author/10367') Лион Фейхтвангер
            .lenta-card__rating
              span 4,0
            #xa-main-1000381445-0-971984.userbook-container.ub-edition-1000381445.ub-book-118832.btn-add-plus__wrapper.ub-container(data-view_mode='plus' data-userbook_id='0' data-strict_edition_id='0' data-rand_id='971984' data-show_extended='' data-show='' data-edition_id='1000381445' data-asource='review' data-design='ll2019')
              a#span-userbook-1000381445-0.span-userbook-1000381445-0.btn-add-plus(onclick='ub_form2020(1000381445, 0, 0, 971984, event);' href='javascript:void(0);')
              input#ub-viewmode-1000381445(type='hidden' value='btn-add-plus')
        .lenta-card__details
          span(itemprop='datePublished' style='display: none') 2021-08-27 15:53:49
          span(itemprop='url' style='display: none') www.livelib.ru/review/2259004
          p.lenta-card__date
            | 27 августа 2021 г. 15:53
          p.lenta-card__aliases
            span 5
        h3.lenta-card__title
          span.lenta-card__mymark  5 
          a(href='/review/2259004') Внешность спасет мир
        span.hidden(itemprop='description')
          | Если у человека нет способностей к математике,...
        #lenta-card__text-review-2259004-wrapper-8275561.lenta-card__text.without-readmore(data-object_alias='review' data-object_id='2259004')
          #lenta-card__text-review-escaped
            p
            p
              | Если у человека нет способностей к математике, он может
              | сколь угодно долго биться над задачами, но не преуспеет в то
              | время, как его сосед решит задачки походя и займется другими
              | делами. Если у кого-то от природы плохой обмен веществ, он
              | может всю жизнь сидеть на диетах и добьется лишь скромных
              | результатов в то время, как его сосед будет наедаться
              | тортами и оставаться худым. Можно себя утешать, повторяя,
              | что я хорош такой, как есть, любите меня таким, как есть,
              | но... утешение остается лишь утешением.
              br
              br
              | Мир
              |                     временами не справедлив и некоторые качества ценятся больше,
              |                     чем другие, а некоторые - всегда в почете. Если женщина
              |                     красива, ей прощается почти все, но если она уродлива, то
              |                     вряд ли что-то поможет.
            p
              | Эта женщина может быть умна, талантлива, у нее может быть
              | быть доброе сердце и прекрасная…
            p
          a.read-more__link(href='javascript:void(0);' data-rand_id='8275561' data-object_alias='review' data-object_id='2259004' data-object_text_action='expand' onclick='feed_object_text_show_link_process($(this));') Развернуть
      .review-card__footer.footer-card
        .footer-card__soc-active.sab
          .sab__wrapper.popup-load-data(data-object_alias='review' data-object_id='2259004' data-type='vote' data-design='ll2019')
            a#vote-plus-hand-review-2259004.sab__link.icon-like(data-vote_state_class='sab__link--active' href='javascript:void(0);' onclick="return ll_vote('review', 2259004, 1, 0,'','');" title='Мне нравится')
              span#vote-plus-span-review-2259004 0
          .sab__wrapper.popup-load-data(data-object_alias='review' data-object_id='2259004' data-type='comment' data-design='ll2019')
            a.sab__link.icon-comment(href='/review/2259004-bezobraznaya-gertsoginya-margarita-maultash-lion-fejhtvanger#comments' title='Комментарии' onmousedown="sa_send_click('review', '2259004', 'comment');")
              span 0
          .sab__wrapper.popup-load-data(data-object_alias='review' data-object_id='2259004' data-type='favorite' data-design='ll2019')
            span#fav-review-2259004
              a#a-fav-review-2259004.sab__link.icon-bookmark(href='javascript:void(0);' onclick="ll_fav('review', 2259004, 1, 0, '', '', 'll2019');" title='Добавить в избранное')
                span.count-in-fav 0
        span.friends-like.friends-like-review-2259004.friends-like-init(data-object_alias='' data-object_id='0' data-design='ll2019')
        .sab__wrapper(onclick="ll_get_socials_networks_popup('review', '2259004', '','', '','content-popup')")
          a.sab__link.icon-share(href='javascript:void(0);')
            span#count-share-review-2259004(style='') 0
        a.footer-card__link(href='/review/2259004-bezobraznaya-gertsoginya-margarita-maultash-lion-fejhtvanger' title='Перейти к рецензии')
      img(style='height: 0; display: block' src='/service/visitlist/review.2259004' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')