.lenta__wrapper
  .lenta__limiter
    input#lenta-group-1(type='radio' name='lenta-group' checked='')
    label.lenta-group__title(for='lenta-group-1') Топ пользователей
    .lenta-user__list
      input#lenta-user-ParatScorner(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='ParatScorner' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-ParatScorner')
        img.lenta-user__avatar(alt='ParatScorner' width='100%' height='100%' src='https://i.livelib.ru/userpic/ParatScorner/40x40/d73f/ParatScorner.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name ParatScorner
      input#lenta-user-Chatterelle(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='Chatterelle' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-Chatterelle')
        img.lenta-user__avatar(alt='Chatterelle' width='100%' height='100%' src='https://i.livelib.ru/userpic/Chatterelle/40x40/810f/Chatterelle.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name Chatterelle
      input#lenta-user-sovin(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='sovin' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-sovin')
        img.lenta-user__avatar(alt='sovin' width='100%' height='100%' src='https://i.livelib.ru/userpic/sovin/40x40/b4d6/sovin.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name sovin
      input#lenta-user-Mari_Kost(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='Mari_Kost' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-Mari_Kost')
        img.lenta-user__avatar(alt='Mari_Kost' width='100%' height='100%' src='https://i.livelib.ru/userpic/Mari_Kost/40x40/0fae/Mari_Kost.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name Mari_Kost
      input#lenta-user-hroniki_Ambera(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='hroniki_Ambera' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-hroniki_Ambera')
        img.lenta-user__avatar(alt='hroniki_Ambera' width='100%' height='100%' src='https://i.livelib.ru/userpic/hroniki_Ambera/40x40/a9f2/hroniki_Ambera.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name hroniki_Ambera
      input#lenta-user-shelena(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='shelena' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-shelena')
        img.lenta-user__avatar(alt='shelena' width='100%' height='100%' src='https://i.livelib.ru/userpic/shelena/40x40/e5af/shelena.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name shelena
      input#lenta-user-rusyawa(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='rusyawa' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-rusyawa')
        img.lenta-user__avatar(alt='rusyawa' width='100%' height='100%' src='https://i.livelib.ru/userpic/rusyawa/40x40/4fdf/rusyawa.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name rusyawa
      input#lenta-user-island(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='island' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-island')
        img.lenta-user__avatar(alt='island' width='100%' height='100%' src='https://i.livelib.ru/userpic/island/40x40/261f/island.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name island
      input#lenta-user-FredBah(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='FredBah' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-FredBah')
        img.lenta-user__avatar(alt='FredBah' width='100%' height='100%' src='https://i.livelib.ru/userpic/FredBah/40x40/b072/FredBah.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name FredBah
      input#lenta-user-love_my__man(type='checkbox' onchange='set_form_hidden_value($(this));' data-form_submit='userbook-form-div' data-value='love_my__man' data-value_holder='user_login-input')
      label.lenta-user__item(for='lenta-user-love_my__man')
        img.lenta-user__avatar(alt='love_my__man' width='100%' height='100%' src='https://i.livelib.ru/userpic/love_my__man/40x40/e570/love_my__man.jpg' onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);')
        p.lenta-user__name love_my__man
